
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SoftPlex.Contracts
@model IEnumerable<SoftPlex.Contracts.ResponseProduct>

@{
	ViewBag.Title = "title";
	Layout = "_Layout";
}

<h2>title</h2>

@{
	if (User.Identity.IsAuthenticated)
	{
		<td>
			<a class="nav-link text-dark " asp-area="" asp-controller="Admin" asp-action="Logout">Add new Product</a>
		</td>
	}
}
<style>
	table th,
	table td {
		border: 1px solid #000;
	}

	.product_versions_block {
		padding: 15px;
		border: 1px solid #000;
	}
	</style>
<table>
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Description</th>
		<th>ProductVersions</th>
		@{
			if (User.Identity.IsAuthenticated)
			{
				<th>Actions</th>
				<a class="nav-link text-dark " asp-area="" asp-controller="Admin" asp-action="Logout">Logout</a>
			}
		}
		
	</tr>
	
	@foreach (ResponseProduct item in Model)
	{
		<partial name="_ResponseProduct" model="item"/>
	}
</table>