@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SoftPlex.Contracts
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SoftPlex.Contracts.Response
@model IEnumerable<SoftPlex.Contracts.Response.ResponseProduct>

@{
	ViewBag.Title = "title";
	Layout = "_Layout";
}

<h2>Каталог</h2>


<style>
	table th,
	table td {
		border: 1px solid #000;
	}

	.product_versions_block {
		padding: 15px;
		border: 1px solid #000;
	}

	.trg_pv:target {
		background-color: lightyellow;
	}
</style>
<table>
	@if (Model.Count() > 0)
	{
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>ProductVersions</th>
			@{
				if (User.Identity.IsAuthenticated)
				{
					<th>Actions</th>
				}
			}
		</tr>
	}
	
	<partial name="_ResponseProduct" model="Model" />

</table>