@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<form class="login_form" asp-controller="Product" asp-action="CreateProduct" method="post">
	
	<div class="login_form__row">
		<button class="login_form__row_button" type="submit">login</button>
	</div>
</form>

